<div id="wrapper">
        <div class="overlay"></div>
    
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

            <div class="sidebar-about">
              <img src="/public/oharney.jpg">
              <h1>
                  {{ site.title }}
              </h1>
              <p class="lead">{{ site.description }}</p>
            </div>

            <ul class="nav sidebar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">Veganism</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            {{content}}
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->